<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view >

  <ion-content class="has-subheader padding" style="height:550px">
        <div>
          <div class="card sample-show-hide"  ng-repeat="task in activeProject.tasks | orderBy : 'date' " ng-hide="(task.done == task.title.length && task.done != 0 ) || task.title.length == 0" class="sample-show-hide" >
          <!-- <div class="card sample-show-hide"  ng-repeat="task in activeProject.tasks | orderBy : 'date' " ng-hide=" task.title.length == 0" class="sample-show-hide" > -->
            <div class="item item-divider" style="background-color:#FFD633;color:white">
              <!-- <input  type="checkbox" ng-model="task.isDone" ng-click="checkboxToggle(activeProject.tasks.indexOf(task))"> -->
                 {{task.date |date:'fullDate' }}

            </div>
            <div class="item sample-show-hide " ng-hide="minitask.done == true" ng-repeat="minitask in task.title">
              <i class="icon ion-android-checkbox-outline-blank" style="font-size:22px" ng-click="checkboxToggle(activeProject.tasks.indexOf(task),$index)"></i>
              <span ng-click="editItem()" ng-hide="editing">  {{minitask.name}}</span>
              <i class="ion-close-circled" ng-click="showConfirm(activeProject.tasks.indexOf(task),$index)" style="float:right"></i>

              <form ng-submit="doneEditing()">
              <input ng-show="editing"  class="pe" ng-model="minitask.name" ng-blur="doneEditing()" autofocus>
              </form>

              <!-- <i class="icon ion-ios-checkmark-outline"  style="font-size:20px"></i> -->
            </div>
          </div>
        </div>
  </ion-content>


</ion-view>
