<ion-view >
  <ion-content class="has-subheader padding" style="height:550px">

    <div>
      <div class="card sample-show-hide" class="sample-show-hide" ng-hide="task.done == 0" ng-repeat="task in activeProject.tasks | orderBy : 'date' ">
        <div class="item item-divider" style="background-color:#FFD633;color:white">
          {{task.date |date:'fullDate' }}
        </div>
        <div class="item sample-show-hide " ng-hide="minitask.done != true" ng-repeat="minitask in task.title">
          <i class="icon ion-reply" ng-click="checkboxToggle(activeProject.tasks.indexOf(task),$index)"></i>
          {{minitask.name}}
        </div>
      </div>
    </div>

  </ion-content>
  <ion-tabs class="tabs-white tabs-icon-only">

    <ion-tab href="#/app/active" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab href="#/app/complete" icon-off="ion-ios-star-outline" icon-on="ion-ios-star">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab icon-off="ion-ios-trash-outline" icon-on="ion-ios-trash" ng-click="clearTaskComplete()">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>
