/* Empty. Add your own CSS if you like */
.done-true {
  text-decoration: line-through;
  color: #ddd;
}
.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
  }

  .sample-show-hide.ng-hide-add.ng-hide-add-active,
  .sample-show-hide.ng-hide-remove {
    opacity:0;
  }

  .sample-show-hide.ng-hide-add,
  .sample-show-hide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }
a:active {
      background-color: orange;
}
.angular-google-map-container {
  height: 50%;
}

.marker-labels {
  width: 160px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
#map {
    width: 50%;
    height: 50%;
}
.scroll {
    height: 100%;
}
input:focus {
}
input {
    border:none;
    /*border-color: inherit;*/
    background-color:transparent;
}
.title{
  color:white;
}

/* $activeColor: #c0392b; //red */
$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
/* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
$background: #3498db;
input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:40px;
							height:35px;
							display:inline-block;
							line-height:35px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:35px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -35px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_08ba21c751114abacc759417dc7209e3.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
